name: Build and Push Image
on:
  push:
    branches:
    - "[0-9]+.[0-9]+"

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: mvn clean package -ntp
      run: |
          ./mvnw clean package -ntp

    - name: Build Image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: calculator-ws
        tags: ${{ github.ref_name }}
        containerfiles: |
          ./Dockerfile

    # Podman Login action (https://github.com/redhat-actions/podman-login) also be used to log in,
    # in which case 'username' and 'password' can be omitted.
    - name: Push to quay.io
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io/l2x6
        username: ppalaga
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Print image url
      run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
